<div class="desk">
  <nav class="flexContainer blueBackground">
      <ul class="nav flexItem flexStart">
          <li>Mahadeeni</li>
      </ul>
      <ul class="nav flexContainer flexEnd">
          <li><a routerLink="" class="nav-link">Home</a></li>
          <!-- <li><a routerLink="dash" class="nav-link">Dash</a></li> -->
          <!-- <li><a routerLink="admin" class="nav-link">admin</a></li> -->
          <!-- <li><a routerLink="counselling" class="nav-link" >Counselling</a></li>
          <li><a routerLink="translations" class="nav-link" >Translations</a></li>
          <li><a routerLink="school" class="nav-link" >School</a></li> -->
          <li><a routerLink="contact" class="nav-link" >Contact</a></li>
          <li><a routerLink="about" class="nav-link" >About</a></li>
      </ul>
  </nav>
</div>
